body {
    background-image: url(../images/pixlebackground.jpeg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 900px;
}

* {
    box-sizing: border-box;
 }


.btn {
    margin: 10px;
    opacity: .8;
    background-color: black;
    border-color: orange;
    margin-top: 30px;
   
 }

p {
     color: white;
     font-size: 18px;
 }

h3 {
    color: white;
    font-size: 20px;
}

.jumbotron {
    color: rgb(226, 187, 114);
    margin-bottom: auto;
    padding-bottom: 20px;
    padding-top: 25px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    opacity: .6;
    background-color: #fff;
    margin: 0 auto;
}

.form-group {
    margin-top: 10px;
}